flow.json
[{"id":"a231a1fbd64869e5","type":"tab","label":"MQTT test","disabled":false,"info":""},{"id":"0785f5af0fe8f710","type":"function","z":"a231a1fbd64869e5","name":"","func":"if(msg.topic != \"sensor_data\"){\n    return;\n}\n\n\nvar newObj = {};\n\nnewObj.topic = \"Designer_ID/designer/test_gateway/\"+msg.payload.addr;\n\nnewObj.payload = msg.payload;\n\nfor(var key in msg.payload.sensor_data){\n    newObj.payload[key] = msg.payload.sensor_data[key];\n}\n\ndelete newObj.payload.sensor_data;\ndelete newObj.payload.original;\n\nreturn newObj;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":160,"wires":[["d4b210c4f991ccd8","bd069f5bfd4e0266"]]},{"id":"301a6e634bcf4c49","type":"ncd-gateway-node","z":"a231a1fbd64869e5","name":"","connection":"","unknown_devices":0,"outputs":1,"x":350,"y":160,"wires":[["0785f5af0fe8f710"]]},{"id":"d4b210c4f991ccd8","type":"debug","z":"a231a1fbd64869e5","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"bd069f5bfd4e0266","type":"mqtt out","z":"a231a1fbd64869e5","name":"Prescient","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":760,"y":160,"wires":[]}]
