flow.json
[{"id":"d79e9f35.93627","type":"tab","label":"MQTT test","disabled":false,"info":""},{"id":"85af5542.43a938","type":"mqtt out","z":"d79e9f35.93627","name":"Prescient","topic":"","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edfc6a89.c0f348","x":760,"y":160,"wires":[]},{"id":"699ebc6efc56e696","type":"function","z":"d79e9f35.93627","name":"","func":"if(msg.topic != \"sensor_data\"){\n    return;\n}\n\n\nvar newObj = {};\n\nnewObj.topic = \"ua43770-f0363-090321/designer/test_gateway/\"+msg.payload.addr;\n\nnewObj.payload = msg.payload;\n\nfor(var key in msg.payload.sensor_data){\n    newObj.payload[key] = msg.payload.sensor_data[key];\n}\n\ndelete newObj.payload.sensor_data;\ndelete newObj.payload.original;\n\nreturn newObj;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":160,"wires":[["85af5542.43a938","4d5c4e1575374ab1"]]},{"id":"4d5f6aa055486091","type":"ncd-gateway-node","z":"d79e9f35.93627","name":"","connection":"b99bad4c7fc89c79","unknown_devices":0,"outputs":1,"x":350,"y":160,"wires":[["699ebc6efc56e696"]]},{"id":"4d5c4e1575374ab1","type":"debug","z":"d79e9f35.93627","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"edfc6a89.c0f348","type":"mqtt-broker","name":"test-mq-broker","broker":"mqtts://b-0acb484e-d719-4f6b-8e6c-25148a6a0a44-1.mq.us-east-2.amazonaws.com","port":"8883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b99bad4c7fc89c79","type":"ncd-gateway-config","name":"Zigmo_11_15","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/tty.usbserial-AC3VPU1B","baudRate":"115200","pan_id":"7fff","rssi":true}]
